* {
    box-sizing: border-box;
}

header nav a {
    color: black;
    display: inline-block;
}

header nav a:hover {
    color: lightskyblue;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
}