/* this is a style sheet for my welcome page - welcome.html */

.fancy-header {
    color: mediumspringgreen;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: darkturquoise;
    text-decoration: underline;
}

body {
    background-color: deepskyblue;
    background-image: url("https://images.unsplash.com/photo-1483347756197-71ef80e95f73?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8bm9ydGhlcm4lMjBsaWdodHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: inherit;
    font-family: AppleGothic, serif;
    color: bisque;
    font-size: large;
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: armenian;
}

ol>.li {
    text-decoration: bisque;
}

table {
    color: bisque;
    text-decoration: underline;
}

em {
    color: lightseagreen;
}

.tabletop {
    color: lightsalmon;
}

.row1 {
    color: red;
}

.row2 {
    color: limegreen;
}

.row3 {
    color: dodgerblue;
}